body {
  margin: 0;
}

.bg1, .bg2, .bg3 {
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin: 0;
}

.bg1 {
  background-image: url('./images/thedan.jpg');  
}

.bg2 {
  background-image: url('./images/danfire.jpg');
}

.bg3 {
  background-image: url('./images/taplist.jpg');
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  background-color: #090909;
  /* For text formatting. */
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  color: white;
  text-shadow: 0 0 5px #000;
}

.short {  
  height: 50vh;
}

.long {
  height: 70vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  /*font-size: 3em;*/
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 8px;
}

/* First Page */

.logo {
  background-size: cover;
  overflow: hidden;
  height: 400px;
  margin-left: 10px;
}

/*Nav Bar - replaced with icon and dropdown for mobile*/
.nav {
  display: block;
  background-color: #090909;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

ul {
  width: 100vw;
}

li {
  display: inline-block;
  width: 19vw;
  border-right: 1px solid #bbb;
  text-align: center;
}

li:last-child {
    border-right: none;
}

li a {
  color: white;
  text-decoration: none;
}

/* About Us */

/* Menu buttons */
button {
  border: white 2px solid;
  color: white;
  background:rgba(0,0,0,0.5);
  border-radius: 30px;
  margin: 20px;
  padding: 30px;
  font-size: 3em;
  font-weight: bolder;
}

button:focus {
  /*background-color: pink;*/
  outline: 0 !important;
  box-shadow: 0 0 3pt 2pt blue;
  box-shadow: 0 0 5pt 4pt purple;

}

.menu-downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*Contact Us */
section:last-child {
  height: 100%;  
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
}

iframe {
   width: 100vw; 
   height: 45vh; 
   border: 0;
   margin: -5px; 
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-div {
  height: 15%;
  width: 40vw;
  display: block;
  margin: 20px;
  /*background-color: blue;*/
}

.contact-icons, .contact-details {
  display: inline-block;
  line-height: 40px;

}

.contact-icons {
  width: 25%;
}

.contact-details {
  width: 68%;
  margin-left: 40px;
}

.contact-icons a {
  color: white;
  font-size: 3em;
}

.contact-details p {
  width: 100vw;
  /*font-size: 30px;*/

}

svg {
  width: 100%;
}

/* Gallery */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.carousel {
  white-space: nowrap;
  overflow: visible;
  overflow-x: scroll;
  overflow-y: hidden; 
  height: 40vh;
}

.gallery-img {
  width: 500px;
  display: inline-block;
  vertical-align: top;  
}

@media only screen and (max-width: 600px) {
  /* Front page */
  .logo { 
    height: 200px;
  }
  .nav {
    visibility: hidden;
  }
  /* Contact Us*/
  .hours {
    margin: 20px;
    height: 35vh;
    width: 90vw;
  }
  .hours p {
    font-size: 16px;
    margin-left: 30px;
  }
  .contact-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-around;
    width: 100%;
  }
  .contact-icons a {
    font-size: 2em;
  }
  .contact-details {
    display: none;
  }
  .contact-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /* Download buttons */
  button {
    width: 65vw;
    padding: 10px;
    font-size: 27px;  
  }
}
.test {
  height: 100px;
  font-size: 36px;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
}

.about {
  backface-visibility: 
}