body {
  margin: 0;
}

.bg1, .bg2, .bg3 {
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin: 0;
}

.bg1 {
  background-image: url('./images/thedan.jpg');  
}

.bg2 {
  background-image: url('./images/danfire.jpg');
}

.bg3 {
  background-image: url('./images/taplist.jpg');
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  background-color: #090909;
  /* For text formatting. */
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  color: white;
  text-shadow: 0 0 5px #000;
}

.short {  
  height: 50vh;
}

.long {
  height: 100vh;
}

.logo {
  background-size: cover;
  overflow: hidden;
  height: 400px;
  margin-left: 10px;
}


h1 {
  font-family: 'Raleway', sans-serif;
  /*font-size: 3em;*/
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 8px;
}

/*Contact Us */
iframe {
   width: 100vw; 
   height: 45vh; 
   border: 0;
   margin: -5px; 
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-div {
  height: 15%;
  width: 40vw;
  display: block;
  margin: 20px;
  /*background-color: blue;*/
}

.contact-icons, .contact-details {
  display: inline-block;
  line-height: 40px;

}

.contact-icons {
  width: 25%;
}

.contact-details {
  width: 68%;
  margin-left: 40px;
}

.contact-icons a {
  color: white;
  font-size: 3em;
}

.contact-details p {
  width: 100vw;
  /*font-size: 30px;*/

}

svg {
  width: 100%;
}


/*Nav Bar*/
.nav {
  display: block;
  background-color: #090909;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

ul {
  width: 100vw;
}

li {
  display: inline-block;
  width: 19vw;
  border-right: 1px solid #bbb;
  text-align: center;
}

li:last-child {
    border-right: none;
}

li a {
  color: white;
  text-decoration: none;
}

/*facebook events*/

section:last-child {
  height: 100vh;  
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
}

.carousel {
  white-space: nowrap;
  overflow: visible;
  overflow-x: scroll;
  overflow-y: hidden; 
  height: 500px;
}

.gallery-img {
  width: 1000px;
  display: inline-block;
  vertical-align: top;  
}

@media only screen and (max-width: 600px) {
  /* Front page */
  .logo { 
    height: 200px;
  }
  /* Contact Us*/
  .hours {
    margin: 20px;
    height: 35vh;
    width: 90vw;
  }
  .hours p {
    font-size: 16px;
    margin-left: 30px;
  }
  .contact-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-around;
    width: 100%;
  }
  .contact-icons a {
    font-size: 2em;
  }
  .contact-details {
    display: none;
  }
  iframe {
    /*height: 30vh;*/
  }
  .contact-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav {
    visibility: hidden;
  }
}